body{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: #1e1b4b;
   margin: 0;
   padding: 45px;
   text-align: center;
   color: #FACC15;
   box-shadow: 0 0 30px #FDE047;
}

h1{
  background-color: #6B21A8;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 95px;
  border-radius: 14px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px #FDE047;
  cursor: pointer;
  font-weight: bold;
  transition: 0.6s;
}

    header{
        color: #FACC15;
      background-color: #1e1b4b;
        padding: 20px;
    }

    header a{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #FACC15;
        border-radius: 10px;
        font-size: 20px;
        text-decoration: none;
        font-size: 20px;
        margin: 0 10px;
    }
    
.history{
    color: #FACC15;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

h3, h2{
    color: #FACC15;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.history:hover{
    box-shadow: 0 0 15px yellow;
    transform: scale(1.05s);
}

.ntesla:hover{
    box-shadow: 0 0 15 #FDE047;
    transform: scale(1.03s);
}

header a:hover{
  background-color: #1e1b4b;
  color: gold;
  box-shadow: 0 0 15px #ffef08;
  transform: scale(1.03s);
}