 body{
   font-family: "Trebuchet MS", sans-serif;
   background-color: #1e1b4b;
   margin: 0;
   padding: 45px;
   text-align: center;
   color: #FACC15;
   box-shadow: 0 0 30px #FACC15;
 }

     header{
        color: #FACC15;
      background-color: #1e1b4b;
        padding: 20px;
    }

    header a{
        color: #FACC15;
        background-color: #1e1b4b;
        padding: 15px;
        border-radius: 10px;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3;
    }

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
  background: #1e1b4b;
  color: #FACC15;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px purple;
  transition: 0.3;
  cursor: pointer;
  min-width: 250px;
  margin: 15px;
}

.course:hover {
    box-shadow: 0 0 15px yellow;
    transform: scale(1.05s);
}

header a:hover{
  background-color: #1e1b4b;
  color: gold;
  box-shadow: 0 0 15px #ffef08;
  transform: scale(1.03s);
}